<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h>
<script src="https://riversun.github.io/chatux/chatux.min.js"></script>
<script>
    const chatux = new ChatUx();
    const initParam =
        {
            renderMode: 'auto',
            api: {
                endpoint: '/bot',
                method: 'GET',
                dataType: 'jsonp'
            },
            bot: {
                botPhoto: 'https://remote.jtpedulabs.com/sv-hr-lb-concept-image.png',
                humanPhoto: null,
                widget: {
                    sendLabel: '送信',
                    placeHolder: '質問事項を入力してください。'
                }
            },
            window: {
                title: 'お問い合わせ',
                infoUrl: 'http://edu.jtp.co.jp/'
            }
        };
    chatux.init(initParam);
    chatux.start(true);
</script>
</body>
</html>